extends layout

block content
  a(href='/select?get=content', target='_blank').btn.btn-default.btn-lg 看段子
  a(href='/select?get=user_hear,user_id&sex=-1', target='_blank').btn.btn-danger.btn-lg.ml15 看妹子
